@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&family=Open+Sans:wght@500&display=swap');

body {
    /* Controls all text color and font family */
    color: #333333;
    font-family: 'Open Sans', sans-serif;
}


.header {
    display: grid;
    grid-template-columns: 0.1fr 1.8fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "menuButton titleText";
        align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main div {
    max-width: 90%;
    margin-bottom: 20px;
    background-color: #ced4db;
    border-radius: 10px;
    text-align: center;
    padding-left: 2.5%;
    padding-right: 2.5%;


    /* Larger display CSS */
    @media (min-width: 650px) {
        width: 40%;
        margin-bottom: 30px;
    }
}

.titleText {
    grid-area: titleText;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#playButton {
    width:fit-content;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(46, 46, 65);
    color: #ced4db;
    transition-duration: 0.5s;
}

#playButton:hover {
    background-color: rgb(255, 153, 0);
    color: white;
    border: 2px solid black;
    transition-duration: 0.1s;
}

.circleButton {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    border: #ffffff;
    background-color: #ffffff;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 650px) {
        min-width: 585px;
    }
}

.slidesDiv {
    width:90%;
    min-height: 120px;

    @media (min-width: 650px) {
        min-height: 90px;
    }

}

#about p {
    text-align: left;
    font-size: 14px;

    /* Larger screens need less width -> use 20% */
    @media (min-width: 650px) {
        font-size: 14px;
    }
}

.extraLinks {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.extraLinks button {
    display: inline-block;
    background-color: #ced4db;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    font-size: 60%;
}